/* Estilo unificado para los botones de agregar [+] y eliminar [-] rasgo */
.btn-agregar-rasgo,
.btn-eliminar-rasgo {
    background-color: transparent; /* Sin fondo de color */
    color: inherit; /* Usa el color de texto de tu aplicación */
    padding: 0px 0px; /* Espaciado muy sutil */
    border: none; /* Sin bordes tipo caja */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 16px; /* Tamaño de texto uniforme */
    font-weight: bold; /* Negrita para que resalten un poco */
    margin-top: 4px;
}

/* Pequeño efecto visual al pasar el ratón */
.btn-agregar-rasgo:hover {
    color: #4CAF50; /* Se vuelve verde sutil al pasar el ratón */
}

.btn-eliminar-rasgo:hover {
    color: #f44336; /* Se vuelve rojo sutil al pasar el ratón */
}

/* Elimina el recuadro azul que ponen los navegadores al hacer clic */
.btn-agregar-rasgo:focus,
.btn-eliminar-rasgo:focus {
    outline: none;
}

/* Hacer que los selectores de rasgos sean más compactos */
.rasgo-item-lista select.obj-rasgos {
    padding: 2px 4px; /* Reduce el espacio interior vertical */
    height: auto; /* Evita que el navegador fuerce una altura muy grande */
    font-size: 13px; /* Opcional: reducir un punto la letra ayuda a optimizar espacio */
}